.beerMenu {
  width: 100%;
  height: auto;
  display: flex;
  padding: 250px 0 100px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/img/home.jpeg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.beerMenu .beerMenuTitle {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.beerMenuList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.beerItem {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 90px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.beerItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.beerItem div {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.beerItem h1,
.beerItem p {
  margin-left: 20px;
  
}

@media only screen and (max-width: 1300px) {
  .beerMenuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .beerMenuList {
    grid-template-columns: 1fr;
  }
}

.beerItem {
  position: relative;
  cursor: pointer;
}

.beerItem:hover .beerInfo {
  display: block;
}

.beerInfo {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(9, 9, 9);
  border-radius: 5px;
  z-index: 1;
}

.notDisplay{
  display: block;
}

.displayContent{
  display: none;
}